body {
    background-color: green
    color white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: flex;
align-items: center;
height: 700px;
margin: 0;
}
button {
    background-color: blue;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}